05-Pruebas/UPC.Consciencia.Pruebas/Service References/NoticiaWS/Noticia2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfCatalogoNoticia">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="CatalogoNoticia" nillable="true" type="CatalogoNoticia" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCatalogoNoticia" nillable="true" type="ArrayOfCatalogoNoticia" />
  <xs:complexType name="CatalogoNoticia">
    <xs:sequence>
      <xs:element name="IdNoticia" type="xs:int" />
      <xs:element name="Medio" nillable="true" type="xs:string" />
      <xs:element name="FechaHora" type="xs:dateTime" />
      <xs:element name="Titulo" nillable="true" type="xs:string" />
      <xs:element name="Contenido" nillable="true" type="xs:string" />
      <xs:element name="SituacionRegistro" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CatalogoNoticia" nillable="true" type="CatalogoNoticia" />
</xs:schema>